body {
    font-family: monospace, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #505050;
}


p {
    text-align: justify;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #C0C0C0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#me {
    border-radius: 50px;
    box-shadow: inset 0 0 0 15px white;
    /* Inset shadow to create an inward border */
    height: 300px;

}

.bean-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    word-spacing: -1em;

}

.bean-container span {
    color: white;
    padding: 2px;
    font-size: 16px;
    word-spacing: 0em;
}

#language-bean :last-child {
    background-color: #0173B3;
}

#tech-bean :last-child {
    background-color: #31C553;
}

#learning-bean :last-child {
    background-color: rgb(241, 176, 33);
}

#interested-bean :last-child {
    background-color: rgb(245, 50, 50);
}

.bean-container :first-child {
    background-color: #555555;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bean-container :last-child {
    background-color: #0577B7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

header {
    background-color: #35424a;
    padding: 20px 0;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

header h1 {
    margin: 0;
}

.section {
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.section h2 {
    color: #35424a;
    padding-left: 15px;
    font-size: 2em;
    /* Allows control over padding and border */
    border-bottom: 2px solid #ccc;
    /* Separator line with color and thickness */
    padding-bottom: 5px;
    /* Space between text and separator line */
}


.section h3 {
    color: #35424a;
}

.skill {
    margin-bottom: 15px;
}

#ed-sect h3 {
    margin-bottom: 5px;
}

#ed-sect p {
    margin-bottom: 5px;
    margin-top: 5px;
}

#certs-sect a {
    margin-bottom: 5px;
}

#certs-sect p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.skills-container {

    display: flex;
    justify-content: space-evenly;

}

.skill-name {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.skill-bar {
    background-color: #ddd;
    height: 10px;
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

.skill-level {
    background-color: #4CAF50;
    height: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header {
        padding: 15px 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    .section h2 {
        font-size: 1.2em;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 0.8em;
    }

    .skills-container {
        flex-direction: column;
    }

    .bean-container span {
        font-size: 0.6em;
    }

    .bean-list {
        flex-direction: column;
        gap: 5px;
    }

    h3 {
        font-size: 0.75em;
    }

    a {
        font-size: 0.8em;
    }

    span {
        font-size: 0.6em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    header h1 {
        font-size: 1.2em;
    }

    .section h2 {
        font-size: 1em;
    }

    p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.75em;
    }

    li {
        font-size: 0.75em;
    }

    .bean-container span {
        font-size: 0.6em;
    }

    .skills-container {
        flex-direction: column;
    }
}